* {
  margin: 0;
}

body {
  background-color: #1b244a;
}

.section_scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scoreboard_component {
  width: 575px;
  height: 385px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.score_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: white;
  text-transform: uppercase;
}

.score {
  margin-top: 0.5rem;
  width: 155px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080001;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.score h2 {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 5.625rem;
  line-height: 1.25;
  color: #f94f6d;
}

.button-group {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

button {
  width: 45px;
  height: 45px;
  color: #9aabd8;
  border: 2px solid #9aabd8;
  background-color: transparent;
  border-radius: 5px;
  font-size: 1.125rem;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
